*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(50, 4, 177);
    /* color: rgb(210, 206, 201); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    text-align: center;
}
.mouse-event {
    border: solid 1px rgb(250, 247, 244);
    margin: 40px;
    min-width: 180px;
    min-height: 100px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 30px;
    color: rgb(250, 247, 244);
}
.mouse-event h4 {
    position: absolute;
    top: -30px;
    font-size: 14px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-weight: 100;
    color: rgb(250, 247, 244);
}